.container {
    max-width: $containerMaxWidth;
    padding: 0 em(16);
    margin: auto;
}

.divider {
    border-width: em(.5);
    border-color: rgba(255, 255, 255, .2);
    margin: em(40) 0;
}

.page-title {
    font-size: em(40);
    margin: em(16) 0;
}

.page-subtitle {
    font-size: em(24);
    margin: em(16) 0;
}

main {
    min-height: calc(100% - #{$footerHeight});
}

footer {
    display: flex;
    height: $footerHeight;
    justify-content: center;
    align-items: center;
    margin-top: em(80);
    background-color: #131313;
}